<ion-view title="CONSULTAR" id="page4" class=" ">
    <ion-content padding="true" class="has-header">
        <h3 id="cONSULTAR-heading2" style="color:#000000;text-align:center;" class=" ">Solicitar Consulta</h3>
        <div class="item item-body " id="cONSULTAR-list-item-container2">
            <h2 id="cONSULTAR-heading4" style="color:#000000;" class=" ">SELECCIONAR MEDICO</h2>
            <ion-list id="cONSULTAR-list7" class=" manual-list-fullwidth ">
                <label class="item item-select " id="cONSULTAR-select1" name="MEDICO">
                    <span class="input-label">MEDICO</span>
                    <select>
                        <option>Alfredo Irala</option>
                        <option>Alan Ruiz Diaz</option>
                        <option>Julian Martinez</option>
                        <option>Adriana Amarilla</option>
                        <option>Estella Garay</option>
                    </select>
                </label>
            </ion-list>
            <h2 id="cONSULTAR-heading5" style="color:#000000;" class=" ">SELECCIONAR HORARIO</h2>
            <form id="cONSULTAR-form4" class="list ">
                <label class="item item-select " id="cONSULTAR-select2" name="HORARIO">
                    <span class="input-label">HORARIO</span>
                    <select>
                        <option>MAÑANA</option>
                        <option>TARDE</option>
                    </select>
                </label>
                <h2 id="cONSULTAR-heading6" style="color:#000000;" class=" ">SELECCIONAR FECHA</h2>
            </form>
            <div>
                <input type="date" placeholder="today" ng-model="dt">
            </div>
            <button id="cONSULTAR-button31" style="font-weight:500;" class=" button button-positive  button-block ">ENVIAR</button>
        </div>
    </ion-content>
</ion-view>