<ion-view title="LOGIN" id="page11" class=" ">
    <ion-content padding="true" class="has-header">
        <form id="lOGIN-form1" class="list ">
            <ion-list id="lOGIN-list5" class=" ">
                <label class="item item-input " id="lOGIN-input1">
                    <span class="input-label">USUARIO</span>
                    <input type="text" placeholder="">
                </label>
                <label class="item item-input " id="lOGIN-input2">
                    <span class="input-label">CONTRASEÑA</span>
                    <input type="password" placeholder="">
                </label>
            </ion-list>
            <div class="spacer" style="height: 40px;"></div>
            <button id="lOGIN-button30" class=" button button-stable  button-block ">INGRESAR</button>
        </form>
    </ion-content>
</ion-view>