<ion-view title="MEDICACION" id="page9" class=" ">
    <ion-content padding="true" class="has-header">
        <div>Los
            <strong>diuréticos</strong>también se denominan píldoras de agua. Ayudan a los riñones a eliminar algo de sal (sodio) del cuerpo. Como resultado, los vasos sanguíneos no tienen que contener tanto líquido y su presión arterial baja.
            <br>
            <li class=" icon-b theme" data-icon="">
                <br>Los
                <strong>betabloqueadores</strong>hacen que el corazón palpite a una tasa más lenta y con menos fuerza.</li>
            <br>
            <li class=" icon-b theme" data-icon="">Los
                <strong>inhibidores de la enzima convertidora de angiotensina</strong>(también llamados inhibidores IECA) relajan los vasos sanguíneos, lo cual reduce su presión arterial.</li>
            <li class=" icon-b theme" data-icon="">
                <br>Los
                <strong>bloqueadores de los receptores de angiotensina II</strong>(también llamados
                <strong>BRA</strong>) funcionan más o menos de la misma manera que los inhibidores de la enzima convertidora de angiotensina.</li>
            <li class=" icon-b theme" data-icon="">
                <br>Los
                <strong>bloqueadores de los canales del calcio</strong>relajan los vasos sanguíneos al impedir que el calcio entre en las células.</li>

            <p>
                <br>Los medicamentos para la presión arterial que no se usan con tanta frecuencia abarcan:</p>
            <ul class="styled-list icon-accent2">
                <li class=" icon-b theme" data-icon="">Los
                    <strong>bloqueadores alfa</strong>ayudan a relajar los vasos sanguíneos, lo cual reduce su presión arterial.</li>
                <li class=" icon-b theme" data-icon="">
                    <br>Los
                    <strong>fármacos que actúan sobre el sistema nervioso central</strong>le dan una señal al cerebro y al sistema nervioso para relajar sus vasos sanguíneos.</li>
                <li class=" icon-b theme" data-icon="">
                    <br>Los
                    <strong>vasodilatadores</strong>le dan una señal a los músculos en las paredes de los vasos sanguíneos para que se relajen.</li>
                <li class=" icon-b theme" data-icon="">
                    <br>Los
                    <strong>inhibidores de renina</strong>, un tipo de medicamento más nuevo para tratar la hipertensión arterial, actúan relajando los vasos sanguíneos.</li>
            </ul>
        </div>
    </ion-content>
</ion-view>