<ion-view title="RECORDATORIO" id="page12" class=" ">
    <ion-content padding="true" class="has-header">
        <div class="item item-body " id="rECORDATORIO-list-item-container9">
            <div class="item item-body " id="rECORDATORIO-list-item-container10">
                <p id="rECORDATORIO-markdown10" style="margin-top:0px;color:#000000;text-align:justify;" class=" ">Todo adulto de más de 40 años debe vigilar periódicamente su tensión arterial. Sobre todo si tiene antecedentes familiares de hipertensión.
                </p>
                <p id="rECORDATORIO-markdown9" style="margin-top:0px;color:#000000;text-align:justify;" class=" ">Consejos de gran utilidad para la prevención de la hipertensión y su control.
                </p>
                <p id="rECORDATORIO-markdown11" style="margin-top:0px;color:#000000;text-align:justify;" class=" ">Evite la obesidad. Logrando un peso adecuado, en muchos casos se puede normalizar la presión arterial.</p>
                <p id="rECORDATORIO-markdown12" style="margin-top:0px;color:#000000;text-align:justify;" class=" ">Evite el sedentarismo. Realice ejercicio físico regularmente, si es posible, al aire libre, siempre adaptado a sus posibilidades reales: no haga físicamente más de lo que puede.
                </p>
                <p id="rECORDATORIO-markdown13" style="margin-top:0px;color:#000000;text-align:justify;" class=" ">Disminuya el contenido de sal al preparar sus comidas. Evite, además, los alimentos salados.
                </p>
                <p id="rECORDATORIO-markdown14" style="margin-top:0px;color:#000000;text-align:justify;" class=" ">Reduzca al mínimo las grasas animales de su dieta y hágala rica en verduras, legumbres, fruta y fibra.
                </p>
                <p id="rECORDATORIO-markdown15" style="margin-top:0px;color:#000000;text-align:justify;" class=" ">No fume y evite ser fumador pasivo. Modere el consumo de bebidas alcohólicas. No tome más de uno o dos vasos de vino al día y a lo sumo, una bebida alcohólica a la semana.</p>
                <p id="rECORDATORIO-markdown16" style="margin-top:0px;color:#000000;text-align:justify;"
                class=" ">Siga rigurosamente el tratamiento prescrito por su médico y no lo interrumpa sin su conocimiento.</p>
                <p id="rECORDATORIO-markdown17" style="margin-top:0px;color:#000000;text-align:justify;" class=" ">Si además de hipertensión padece colesterol elevado, diabetes o ácido úrico procure normalizarlos, ya que todos ellos son factores de riesgo cardiovascular que se potencia cuando se asocian.</p>
            </div>
        </div>
    </ion-content>
</ion-view>