<ion-view title="TRATAMIENTO" id="page10" class=" ">
    <ion-content padding="true" class="has-header">
        <div class="item item-body " id="tRATAMIENTO-list-item-container3">
            <p id="tRATAMIENTO-markdown3" style="margin-top:0px;color:#000000;text-align:justify;" class=" ">Los diuréticos también se denominan píldoras de agua. Ayudan a los riñones a eliminar algo de sal (sodio) del cuerpo.</p>
            <p id="tRATAMIENTO-markdown18" style="margin-top:0px;color:#000000;text-align:justify;" class=" ">Como resultado, los vasos sanguíneos no tienen que contener tanto líquido y su presión arterial baja.</p>
            <p id="tRATAMIENTO-markdown19" style="margin-top:0px;color:#000000;text-align:justify;" class=" ">Los betabloqueadores hacen que el corazón palpite a una tasa más lenta y con menos fuerza.</p>
            <p id="tRATAMIENTO-markdown20" style="margin-top:0px;color:#000000;text-align:justify;" class=" ">Los inhibidores de la enzima convertidora de angiotensina (también llamados inhibidores IECA) relajan los vasos sanguíneos, lo cual reduce su presión arterial.</p>
            <p id="tRATAMIENTO-markdown21" style="margin-top:0px;color:#000000;text-align:justify;"
            class=" ">Los bloqueadores de los receptores de angiotensina II (también llamados BRA) funcionan más o menos de la misma manera que los inhibidores de la enzima convertidora de angiotensina.</p>
            <p id="tRATAMIENTO-markdown23" style="margin-top:0px;color:#000000;text-align:justify;"
            class=" ">Los bloqueadores de los canales del calcio relajan los vasos sanguíneos al impedir que el calcio entre en las células.</p>
            <p id="tRATAMIENTO-markdown26" style="margin-top:0px;color:#000000;text-align:justify;" class=" ">Los fármacos que actúan sobre el sistema nervioso central le dan una señal al cerebro y al sistema nervioso para relajar sus vasos sanguíneos.</p>
            <p id="tRATAMIENTO-markdown24" style="margin-top:0px;color:#000000;text-align:justify;" class=" ">Los bloqueadores alfa ayudan a relajar los vasos sanguíneos, lo cual reduce su presión arterial.</p>
            <p id="tRATAMIENTO-markdown25" style="margin-top:0px;color:#000000;text-align:justify;" class=" ">Los vasodilatadores le dan una señal a los músculos en las paredes de los vasos sanguíneos para que se relajen. Los inhibidores de renina, un tipo de medicamento más nuevo para tratar la hipertensión arterial, actúan relajando los vasos sanguíneos.</p>
        </div>
    </ion-content>
</ion-view>